.nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    min-height: 7vh;
    background-color: #4c6a92;
    padding: 1%;
}
#navTitle{
  margin-left: 40vw;
  letter-spacing: 5px;
  font-weight: 900;
  font-size: x-large;
}
#navButton{
  position: absolute;
  right: 4vw;
  color: white;
}
.newSystemInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.newSystemTitle {
  margin-bottom: 8vh;
}
#leftTopButton {
  position: absolute;
  left: 3vh;
  top: 3vh;
}
#container{
  background-color: #d2e1f567;
}
#contributeDiv {
  position: absolute;
  bottom: 3vh;
  left: 35vw;
}
#logo {
  height: 20vh;
  width: 22vw;
  position: absolute;
  left: 3vh;
  bottom: 3vh;
}
